<nav class="bg-white border-b border-gray-200 sticky top-0 z-50 shadow-sm">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      
      <div class="flex-shrink-0 flex items-center gap-2 cursor-pointer">
        <div class="w-8 h-8 bg-teal-600 rounded-lg flex items-center justify-center shadow-md hover:bg-teal-700 transition">
            <span class="text-white font-bold text-lg">♥</span>
        </div>
        <span class="font-bold text-xl text-gray-800 tracking-tight hover:text-teal-600 transition">ONG-Connect</span>
      </div>

      <div class="hidden sm:ml-6 sm:flex sm:items-center space-x-8">
        <a href="#" class="text-teal-600 font-bold border-b-2 border-teal-600 px-1 pt-1 text-sm uppercase tracking-wide">
            Proyectos
        </a>
<a routerLink="/nosotros" 
   routerLinkActive="text-teal-600 font-bold bg-teal-50 rounded-lg" 
   [routerLinkActiveOptions]="{exact: true}"
   class="text-gray-600 hover:text-teal-600 px-3 py-2 rounded-md text-sm font-medium transition-colors cursor-pointer">
    Nosotros
</a>
        <button class="bg-teal-50 text-teal-700 border border-teal-100 px-4 py-2 rounded-full font-medium hover:bg-teal-600 hover:text-white transition-all shadow-sm text-sm">
            Mi Perfil
        </button>
      </div>

    </div>
  </div>
</nav>